/*progress*/ 
.tooltip{ 
  position:relative;
  float:right;
}
.tooltip.top {
  top:-31px!important;
}
.tooltip > .tooltip-inner {
  background-color: transparent;
  padding:5px 15px; 
  color:rgb(23,44,66);
  font-weight:bold;
  font-size:13px;
 }
.popOver + .tooltip > .tooltip-arrow {  
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  }
.about-page-skills , .progress-content{
	margin:140px auto; 

}
.progress{
  border-radius:0;
  overflow:visible;
  height: 6px!important;
  margin-top: 5px;
}
.progress-bar{
   background:#bda47d; 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
.progress-section{
	margin: 140px auto;
}