/* --------------------- */
/*      RESPONSIVE       */
/* --------------------- */
@media(min-width: 1441px) and (max-width: 1600px){
    
}
@media(min-width: 1200px) and (max-width: 1440px){
    
}
@media(min-width: 992px) and (max-width: 1199px){
    
}
@media(min-width: 768px) and (max-width: 991px){
    
    .menu-footer li a{padding-left: 15px}
    .right-footer{padding: 20px}
    footer{height: 100px}
    .left-footer{padding: 20px 20px 15px;}
    .right-footer{padding: 20px;}
    
}
@media(max-width: 767px){
    
    footer{height: auto;}
    .left-footer{width: 100%; padding: 13px 15px;text-align:center}
    .right-footer{width: 100%; padding: 13px 15px;text-align:center}
    .content-404 .form-newsletter{width:100%;}
    .menu-footer li a {
	    padding: 0 10px;
	}

    
}
@media(max-width: 480px){
    
}