RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

IndexIgnore *

ErrorDocument 500 /500.html
ErrorDocument 404 /404.html
ErrorDocument 401 /401.html
ErrorDocument 403 /403.html

DirectoryIndex frontend/index.php

#back-end

RewriteRule image-(.*) backend/assets/posters/$1

RewriteRule bg_img-(.*) backend/assets/img/$1

#front-end

#home
RewriteRule home frontend/index.php

RewriteRule sign-in frontend/index.php?controller=login&action=login

RewriteRule sign-up frontend/index.php?controller=user&action=register

RewriteRule sign-out frontend/index.php?controller=user&action=logout

RewriteRule register frontend/index.php?controller=user&action=register

RewriteRule ^update-account-(.*)$ frontend/index.php?controller=user&action=update&id=$1

RewriteRule user frontend/index.php?controller=user

#images
RewriteRule img_front-(.*) frontend/assets/img/$1

RewriteRule card_front-(.*) frontend/assets/img/card/$1

RewriteRule shopping-cart index.php?controller=cart&action=index

RewriteRule check-out index.php?controller=payment&action=index

#movies detail
RewriteRule ^movie-(.*)$ frontend/index.php?controller=movie&action=detail&id=$1

RewriteRule all-movies index.php?controller=movie&action=showAll

RewriteRule movies-list/([0-9]+).html index.php?controller=movie&action=showAll&page=$1

RewriteRule delete-movie/(.*).html backend/index.php?controller=movie&action=delete&id=$1