.parallax {
    padding-top: 350px;
    padding-bottom: 350px;
    text-align: center;
}
.parallax {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    &:after{
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
        content: " ";
        height: 100%;
        text-align: center;
        position: absolute;
        background: rgba(0,0,0,0.3);
    }    
}