/*check out*/ 
.section-checkout{
	padding-top:80px;
	.chosen-container{
		letter-spacing: 2px;
	}
	.entry-content.content-page{
		overflow: hidden;
		padding-top:40px;
	}
	.woocommerce-info {
	    color: #000000;
	    font-size: 15px;
	}
	.nr-checkout-login {
	    border: 1px solid #e7e7e7;
	    padding: 25px;
	    margin-bottom: 30px;
	    form.login, .nr-coupon-checkout form.checkout_coupon {
		    margin-top: 20px;
		}
		.input-text{
			width: 100%;
		}
		.form-row-last label {
		    width: 100%!important;
		}
	}
	.nr-coupon-checkout {
	    border: 1px solid #e7e7e7;
	    padding: 25px;
	    margin-bottom: 30px;
	}
	.wc-checkout{
		.form-row
			{
				.input-text, select {
				    width: 100%!important;
				}
			}
		 label {
		    font-weight: 300;
		    font-size: 15px;
		    color: #000000;
		    display: block;
		    &.inline {
			    display: inline;
			    margin: 0 0 0 10px;
			}
		}
		&.create-account label {
		    display: inline;
		    margin-left: 5px;
		    opacity: 0.8;
		}
	}
	p {
	    margin-bottom: 20px;
	}

}
// 
.checkout .nr-billing-fields {
    display: inline-block;
    width: 100%;
    .chosen-container{
    	width: 100%!important;
    	font-family:'HelveticaNeue-Light';
    }
    .chosen-container-single .chosen-single {
	    font-family:'HelveticaNeue-Light';
	    height: 45px;
	    line-height: 45px;
	    border:1px solid #e9e9e9;
	    
	}
	.required{
		color: #bda47d;
	}
   
}
.nr-billing-fields h3, .nr-shipping-fields h3, h3.order_review_heading, h3#order_review_heading {
    font-size: 21px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
    font-family: inherit;
    line-height: 45px;
}
.nr-billing-fields #billing_first_name_field, .nr-billing-fields #billing_email_field, .nr-billing-fields #billing_postcode_field, .nr-billing-fields #billing_city_field, .nr-shipping-fields #shipping_first_name_field, .nr-shipping-fields #shipping_postcode_field {
    padding-right: 20px;
}
.nr-billing-fields{
	#billing_first_name_field ,#billing_email_field{
		width: 50%;
		float: left;
	}
	 #billing_last_name_field {
		width: 50%;
		float: left;
	}
	#billing_phone_field ,#billing_postcode_field ,#billing_city_field{
		width: 50%;
		float: left;
	}
	#billing_city_field{
		padding-right:0px;
	}
	.input-text {
		outline: none!important;
	}
}

.checkout.wc-checkout .nr-order-review {
    float: right;
    border: 2px solid #e7e7e7; 
    padding: 30px 25px;
	.shop_table{
		tbody{
			tr:first-child td,  tr:first-child td,{
				 border-top-width: 0px;
			}
			tr.cart_item td {
			    padding: 25px 5px;
			    color: #000;
			}
		}
		thead{
			tr:first-child th, tr:first-child th{
			 border-top-width: 0px;
			} 
			th {
			    color: #000;
			}
		}
		td.actions .coupon {
		    float: right;
		    line-height: 25px;
		}
		td.actions {
		    padding: 30px 0;
		}
		td.actions > input[type="submit"] {
		    float: left;
		    background: transparent;
		    border: 1px solid #000000;
		    color: #000000;
		    &:hover{
	    	    background: #bda47d;
			    border-color: #bda47d;
			    color: #ffffff;
			    outline: none;
			}
		}
    }
	.cart-collaterals {
	    margin-top: 70px;
	}
	.cart_totals > h2, .shipping > h4 {
	    border-bottom: 1px solid #d7d7d7;
	    font-size: 21px;
	    font-family: inherit;
	    line-height: 45px;
	}
	table {
	    border-collapse: separate;
	    border-spacing: 0;
	    border: none;
	    margin: 0 0 1.6em;
	    table-layout: auto;
	    width: 100%;
	}
	.shop_table{
		&.woocommerce-checkout-review-order-table{
			tfoot {
				tr{
					&.cart-subtotal {
					    font-weight: bold;
					    color: #000;
					}
					&.order-total {
					    font-weight: bold;
					    color: #000;
					    span{
					    	color: #bda47d;
					    }
					}
				}
				th, td{
					border: none;
				    border-bottom: 1px solid #f1f1f1;
				    padding: 20px 0;
				}
			}
		}
	}
}
.nr-checkout-payment{
	.payment_methods {
	    padding: 0 0 20px 0;
	    // border-bottom: 1px solid #d7d7d7;
	    li {
		    list-style: none;
		    label {
			    font-weight: 300;
			    font-size: 15px;
			    color: #000000;
			    .about_paypal {
				    font-size: 13px;
				}
			}
			&.payment_method_paypal label img {
			    max-width: 114px;
			    margin: 0 10px;
			}
			&:last-child{
				border-bottom:1px solid #f1f1f1;
				padding-bottom:30px;
			}
		}
	}
	.form-row{
		&.place-order{
			input[type="submit"] {
			    background-color: rgba( 189, 164, 125, 1 );
			    border-color: rgba( 189, 164, 125, 1 );
			}
			input[type="submit"] {
			    display: block;
			    background-color: #bda47d;
			    border-color: #bda47d;
			    width: 100%;
			    &:hover {
				    background-color: #000000;
				    border-color: #000000;
				}
			}
		}
	}
	.nr-accept{
		padding-bottom:30px;
		.checkbox{
			font-size: 12px;
			span{
				color: #bda47d;
			}
		}
	}
}

