/** 5.1 Shop General **/
@import "Ecommerce/general";

/**  5.2 Product **/
@import "Ecommerce/product";

/** 5.3 Shop Widget **/
@import "Ecommerce/widgets";

/** 5.4 Shop Page **/
@import "Ecommerce/pages";

/** 5.5 Shop Single **/
@import "Ecommerce/single";

/** 5.6 Shop Cart **/
@import "Ecommerce/cart";

/** 5.7 Shop Checkout **/
@import "Ecommerce/checkout";

/** 5.8 Shop Wishlist **/
@import "Ecommerce/wishlist";

/**  5.9 Track Order **/
@import "Ecommerce/track-order";
