/** 4.1. Accordions **/
@import "Elements/accordions";

/** 4.2. News letter **/
@import "Elements/newsletter";

/** 4.3. Service **/
@import "Elements/service";

/** 4.4. Parallax **/
@import "Elements/parallax";

/** 4.5. Popup **/
@import "Elements/popup";

/** 4.6. Piechart **/
@import "Elements/piechart";

/** 4.7. Progress **/
@import "Elements/progress";