
/* shortcode cat product */
// .ts-shortcode-category{overflow: hidden;}
.width50{
    float: left;
    width: 50%;
}
.product-catinfo{
    background: url(../images/pattern1.png) repeat;
    padding: 30px;
    position: relative;
}
.product-catinfo .inforcat{
    position: absolute;
    max-height: 100%;
    bottom: 30px;
}
.product-catinfo .inforcat .icon-cat{
    margin-bottom: 15px;
    display: block;
}
.product-catinfo .inforcat h4{
    margin: 0;
}
.product-catinfo .inforcat h4 a{
    color: #000000;
}
.product-catinfo .inforcat h4 a:hover{
    color: #bda47d;
}
.product-catinfo .inforcat p{
    margin-bottom: 0;
    font-size: 15px;
}
.ts-shortcode-category.cat-right .product-column1{
    float: right;
}
/* feature shortcode */
.ts-feature{
    margin: 30px 0;
    position: relative;
    overflow: hidden;
}
.ts-feature figure img {
  width: 100%;
}
.ts-feature .info-feature{
    position: absolute;
    bottom: 0px;
    padding: 35px;
    width: 100%;
}
.ts-feature .info-feature .icon{
    font-size: 80px;
    color: #000000;
    line-height: 80px;
}
.ts-feature .info-feature h4{
    margin-bottom: 0
}
.ts-feature .info-feature p{
    margin-bottom: 0;
    font-size: 15px;
}
.form-newsletter{
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.feature-newsletter input[type="text"]{
    padding: 13px 18px;
}
.form-newsletter input[type="text"]{
    width: 100%;
    display: table-cell;
}
.form-newsletter > span {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}
.feature-newsletter .form-newsletter button{
    padding: 14px 27px;
}
//
.details-product{
        margin: 30px 0;
        margin-left: 30px;
        .title-product  {
            font-size:15px;
            margin-bottom: 5px;
            a{
                color: #000;
                &:hover{
                    color: #bda47d;
                }
            }
        }
    } 
.ts-slide-product .detail-product {
    bottom: 70px;
    left: 40px;
    position: absolute;
    right: 40px;
    h4{
        a{
            color: #fff;
            font-size: 60px;
            font-family: 'HelveticaNeue-Thin';
            font-weight: 100;
        }
    }
    span{
        color: #fff;
        font-size: 30px;
        font-weight: 100;
        font-family: 'HelveticaNeue-Thin';
    }
    .viewdetail{
        color: #fff;
        font-weight:600;
        font-size:12px;
        letter-spacing: 5px;
        position: relative;

        &:after{
            content: "\e068";
            font-family: "linea-arrows-10";
            font-size: 15px;
            margin-left: 6px;
            font-weight: 500;
            color: #fff;
            position: absolute;
            transition: all 0.3s ease;
        }
        &:hover{
            &:after{
                margin-left: 10px;
            }
        }
    }
    .icon{
        margin-left: 5px;
    }
}
