@import "Mixins/typography";

/*======================================
6.1. General
========================================*/
@import "Templates-layout/general";

/*======================================
6.2. Header
========================================*/
@import "Templates-layout/headers";

/*======================================
6.3. Sidebar
========================================*/
@import "Templates-layout/sidebar";

/*======================================
6.4. Contents
========================================*/
@import "Templates-layout/contents";

/*======================================
6.5. Footers 
========================================*/
@import "Templates-layout/footers";

/*======================================
6.6. Home pages 
========================================*/
@import "Templates-layout/homepages";

/*======================================
6.7. Pages 
========================================*/
@import "Templates-layout/pages";