/* shortcode slidepost */
.ts-slide-post{
    padding-top: 40px;
}
.ts-slide-post .item-post .img-post{
    position: relative;
    margin-bottom: 20px;
}
.ts-slide-post .item-post .img-post:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: all 0.3s ease 0s;
    -ms-transform: all 0.3s ease 0s;
    -o-transform: all 0.3s ease 0s;
    transform: all 0.3s ease 0s;
}
.ts-slide-post .item-post:hover .img-post:after{
    opacity: 1;
    filter: alpha(opacity=100);
}
.ts-slide-post .item-post .img-post .icon-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 35px;
    display: block;
    background-color: #000000;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0);
    -o-transform: translateY(-50%) translateX(-50%) scale(0);
    transform: translateY(-50%) translateX(-50%) scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
}
.ts-slide-post .item-post:hover .img-post .icon-hover{
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
}
.ts-slide-post .item-post .img-post .icon-hover:after{
    content: "";
    width: 35px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: -17px;
    background-color: #000000;
}
.ts-slide-post .item-post h5 a{
    color: #000000;
}
.ts-slide-post .item-post .content-post{
    margin-bottom: 20px;
}
.meta-post li{
    display: inline-block;
    list-style: none;
    font-size: 11px;
    font-family: 'HelveticaNeue';
    color: #565656;
}
.meta-post li a:hover{
    color: #565656;
}
.meta-post li:after{
    content: "|";
    margin: 0 10px;
}
.meta-post li:last-child:after{
    display: none;
}
.ts-slide-post.owl-carousel .owl-dots{
    margin-top: 40px;
}
.owl-carousel .owl-dots{
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot{
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    margin: 0 5px;
}
.owl-carousel .owl-dots .owl-dot.active{
    opacity: 1;
    filter: alpha(opacity=100);
}
/* separator shortcode */
.separator{
  border-color: #bda47d;
  border-width: 1px 0 0;
  margin: 35px auto;
  width: 100%;
  display: inline-block;
}
.separator-solid{
    border-style: solid;
}
.separator-dash {
  border-style: dashed;
}
.separator-content {
  overflow: hidden;
  text-align: center;
}
.separator-content.separator-left{
    text-align: left;
}
.separator-content.separator-right{
    text-align: right;
}
.separator-content > .separator-innercontent {
  color: #bda47d;
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  padding: 0;
  position: relative;
}
.separator-content > .separator-innercontent .icon{
    font-size: 22px;
}
.separator-content > .separator-innercontent::before, .separator-content > .separator-innercontent::after {
  border-bottom: 1px solid;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 49%;
  width: 9999%;
}
.separator-content > .separator-innercontent::before {
  margin-right: 15px;
  right: 100%;
}
.separator-content > .separator-innercontent::after {
  left: 100%;
  margin-left: 15px;
}

/* Shortcode categories grid */
.grid-masonry .grid{
    width: 25%;
    position: relative;
    overflow: hidden;
    float: left;
}
.grid-masonry .grid-2x{
    width: 50%;
}
.grid-masonry .grid-3x{
    width: 75%;
}
.ts-categories-grid .item-category .category-info{
    position: absolute;
    padding: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}
.ts-categories-grid .item-category figure img{
    width: 100%;
   -webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
   -o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
   transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.ts-categories-grid .item-category:hover figure img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.ts-feature figure img {
  width: 100%;
  -webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.ts-feature:hover figure img{
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}
.ts-categories-grid .item-category .category-info h4,
.ts-categories-grid .item-category .category-info p{
    margin: 0
}
.ts-categories-grid .item-category .category-info p{
    font-size: 15px;
}
.ts-categories-grid .item-category .category-info h4 a{
    color: #000000;
}
.ts-categories-grid .item-category .category-info h4 a:hover{
    color: #bda47d;
}

.ts-categories-grid-icon .grid{
    height: 467px;
}
.ts-categories-grid-icon{
    margin: 0 -15px 30px;
}
.ts-categories-grid-icon .grid{
    padding: 0 15px;
    margin-top: 30px;
}
.ts-categories-grid.ts-categories-grid-icon .item-category .category-info{
    bottom: 0px;
    left: 15px;
    right: 15px;
}
.ts-categories-grid-icon .item-category .image-cat{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-category .cat-icon{margin-bottom: 15px;display: block;}
/* shortcode title section */
.section-title {margin-bottom: 50px}
.section-title .hr{
    height: 1px;
    width: 65px;
    background-color: #000000;
    display: block;
}
.section-title.text-center hr{
    margin: 0 auto;
}
.section-title.text-right hr{
    margin: 0 0 0 auto;
}
.page-banner{
    position: relative;
    min-height: 273px;
    background: url(../images/pattern1.png) repeat left center;
    padding: 40px;
}
.page-banner .page-title{
    margin-bottom: 0;
    margin-top: 150px;
}
.main-container .main-content{
    padding-top: 30px
}
.main-container .sidebar{
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-container .main-right{
    float: right;
}
/* ul list categories */
.list-categories{margin: 10px 0}
.list-categories li{
    list-style: none;
    font-size: 15px;
    display: inline-block;
}
.list-categories li a{
    color: inherit;
}
.list-categories li a:hover{
    color: #000000;
}
.list-categories li:after{
    content: "|";
    margin: 0 20px;
}
/*.list-categories li:first-child a{padding-left: 0}*/
.list-categories li:last-child:after{display: none;}