RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule add-to-cart/([0-9]{1,}).html index.php?controller=cart&action=add&id=$1

RewriteRule shopping-cart.html index.php?controller=cart&action=index

RewriteRule check-out.html index.php?controller=payment&action=index

RewriteRule movie/(.*)/([0-9]{1,}).html index.php?controller=movie&action=detail&title=$1&id=$2

RewriteRule all-movies.html index.php?controller=movie&action=showAll

RewriteRule movies-list/([0-9]+).html index.php?controller=movie&action=showAll&page=$1

RewriteRule movie/(.*)/([0-9]{1,}).html index.php?controller=movie&action=detail&slug=$1&id=$2

RewriteRule delete-movie/([0-9]{1,}).html index.php?controller=cart&action=delete&id=$1

RewriteRule login.html index.php?controller=login&action=login

RewriteRule register.html index.php?controller=user&action=register