RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 500 /500.html
ErrorDocument 404 /404.html
ErrorDocument 401 /401.html
ErrorDocument 403 /403.html

RewriteRule add-to-cart/([0-9]{1,}).html index.php?controller=cart&action=add&id=$1

RewriteRule admin-dashboard ../frontend/redirect.html

RewriteRule shopping-cart.html index.php?controller=cart&action=index

RewriteRule check-out.html index.php?controller=payment&action=index

RewriteRule movie/(.*)/([0-9]{1,}).html index.php?controller=movie&action=detail&title=$1&id=$2

RewriteRule all-movies.html index.php?controller=movie&action=showAll

RewriteRule movies-list/([0-9]+).html index.php?controller=movie&action=showAll&page=$1

RewriteRule movie/(.*)/([0-9]{1,}).html index.php?controller=movie&action=detail&slug=$1&id=$2

RewriteRule delete-movie/([0-9]{1,}).html index.php?controller=cart&action=delete&id=$1

RewriteRule login index.php?controller=login&action=login

RewriteRule register.html index.php?controller=user&action=register

RewriteRule user index.php?controller=user

RewriteRule logout index.php?controller=user&action=logout

RewriteRule home ../fronted/index.php